# Author: Christina Mao 
# Date Created: 03-11-2019 
# Description: Unit file to run a python script as a systemd service 
# To use:
#	* Copy this file to /lib/systemd/system 
# 	* Change permission of this file to 644 
# 	* systemctl daemon-reload
# 	* systemctl enable <this file> 
# 	* reboot
# 	* systemctl start <this file> 


[Unit]
Description = Run log_interrupt.py to log /proc/interrupt data 

[Service]
#Run single execstart
Type = simple
ExecStart = /usr/bin/python /home/cmao/Repos/nsf-cici/collectdata/log_interrupt.py 
Restart = always
StandardOutput = syslog 
StandardError = syslog 
SyslogIdentifier = collectinterrupt

[Install]
WantedBy = multi-user.target
