# Author: Christina Mao 
# Date Created: 04-02-2019 
# Description: Unit file to run a python script as a systemd service 
# To use:
#	* Copy this file to /lib/systemd/system 
# 	* Change permission of this file to 644 
# 	* systemctl daemon-reload
# 	* systemctl enable <this file> 
# 	* reboot
# 	* systemctl start <this file> 


[Unit]
Description = Run log_stat.py to scrape /proc/stat data 


[Service]
#Run single execstart
Type = simple 
ExecStart = /usr/bin/python /home/cmao/Repos/nsf-cici/collectdata/log_stat.py 
Restart = on-failure
StandardOutput = syslog 
StandardError = syslog 
SyslogIdentifier = collectstat
